@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
    #profile-card
    {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }